<div class="q-pa-md" style="width:100%" >
  <q-spinner-gears class="fixed-center" v-if="loading" size="50px" color="deep-purple-12">
  </q-spinner-gears>

  <q-card class="my-card"  v-if="!loading">
  <q-card-section>
    <q-form
      @submit="send_to_analysis"
      @reset=""
      class="q-gutter-md" 
    >
      <q-input
        filled
        v-model="newsource.name"
        label="Title"
        hint="Provide short name for this article">
      </q-input>
      <q-input
        filled
        v-model="newsource.details"
        label="Body"
        type="textarea"
        hint="Aticle body">
      </q-input>
      <div>
        <q-btn label="Analyse content" type="submit" 
          color="deep-purple-12"> 
        </q-btn>
      </div>
    </q-form>
  </q-card-section>
</q-card>         

</div>
<script>
    mounted: function () {
        this.$q.notify.setDefaults({
            timeout: 500,
            textColor: 'white',
            actions: [{ icon: 'close', color: 'white' }]
        })
    },
    
    methods: {
        send_to_analysis: function(){
            this.loading = true
            setTimeout((x)=>{
            axios.post("/swarog/api/analysis", {
                text: this.newsource.details,
                title: this.newsource.name
            })
            .then(x=>{
                this.loading = false
                this.$root.$emit("cyberPage_change", "m24")
            })
            }, 1);
        }
    },
    
    data: function () {
        return {
            loading: false,
            active:'',
            newsource:{
                name: '',
                src: '',
                dst: '',
                type:'playbook',
                details: '',
                template: ''
            }
        }
    }
</script>