<q-list>
  <q-item-label header class="text-purple-6  text-weight-bold">
    Analysis
  </q-item-label>
  <q-item clickable @click="emit('cyberPage','m21')" :active="this.selected=='m21'">
      <q-item-section avatar>
        <q-icon name="beenhere">
        </q-icon>
      </q-item-section>
      <q-item-section>
        <q-item-label>New</q-item-label>
        <q-item-label caption>Analysis</q-item-label>
      </q-item-section>
  </q-item>
 
  <q-item clickable @click="emit('cyberPage','m24')" :active="this.selected=='m24'">
    <q-item-section avatar>
      <q-icon name="play_circle_outline">
      </q-icon>
    </q-item-section>
    <q-item-section>
      <q-item-label>Historical</q-item-label>
      <q-item-label caption>Analyses</q-item-label>
    </q-item-section>
  </q-item>

  <q-item clickable @click="emit('cyberPage','m23')" :active="this.selected=='m23'">
    <q-item-section avatar>
      <q-icon name="search">
      </q-icon>
    </q-item-section>
    <q-item-section>
      <q-item-label>Search</q-item-label>
      <q-item-label caption>Documents</q-item-label>
    </q-item-section>
  </q-item>
  
</q-list>

<script>
mounted: function(){
  this.$root.$on('cyberPage_change', this.cyberPage)
},

methods:{
  emit: function(ename,evalue){
    this.selected = evalue
    this.$root.$emit(ename, evalue)
  },
  cyberPage: function(e){
    this.selected = e
    this.$root.$emit('cyberPage', e)
  }
},

data:function(){
  return {
    selected:"m21"
  }
}


</script>